///////////////////////////////
//  Fade in and out
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

///////////////////////////////
//  Fade in only
.fadein-enter-active {
  transition: opacity 0.3s ease;
}

.fadein-leave-active {
  transition: opacity 0 ease;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

///////////////////////////////
//  Fade in and out
.default-enter-active, .default-leave-active {
  transition: opacity 0.15s ease;
}

.default-enter, .default-leave-to {
  opacity: 0;
}

